@charset "UTF-8";

*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
 background-color: black;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  width: 100%;
  display: flex;
  background-color: yellow;
  padding: 10px 5%;
  margin-top: -4em;
  align-items: center;
  position: fixed;
  z-index: 1;

}

.logo {
  height: 60px;
  width: 60px;
}
.logo img{
  height: 100%;
  width: 100%;
}


.links  {
  display: flex;
  text-decoration: none;
  list-style: none;
  font-size: 1.3em;
  margin-left: auto;
}

.links a {
  text-decoration: none;
  display: inline-block;
  padding-inline: 10px;
  font-size: 1em;
  color: black;
}

.btn-entrar {
  display: inline-block;
  color:beige;
  background-color: rgb(8, 22, 51);
  font-weight: bold;
  padding: 5px 25px;
  border-radius: 2em ;
  text-align: center;
  margin-right: -15em;

}

.da{
 position: relative;
 margin-top: 10em;
 margin-bottom:10px ;
 left: -64em;
}

.da a{
  font-size: 25px;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}

.ri-menu-add-line{
  font-size: 25px;
}

.btn-buscar {
  background-color: yellow;
  color: black;
  height: 35px;
  width: 100px;
  position: relative;
  bottom: 200px;
  left: 35px;
  border: none;
  border-radius: 2em;
  font-size:large;
  margin-left: 22px;
}

.btn-vp {
  background-color: yellow;
  color: black;
  height: 35px;
  width: 100px;
  position: relative;
  bottom: 200px;
  left: 80px;
  border: none;
  border-radius: 2em;
  font-size:large;
  text-decoration: none;
}

.btn-vp > a{
  text-decoration: none;
  color: black;
}

.cp {
  max-width: 100%;
  position: relative;
  right: -400px;
  top: 1px;

}

.cp img{
  background-position: center;
  height: 100%;
  background-size: contain;  
  width: 90em;
  margin-bottom: 10em ;
 
}

.cpt {
  height: 100vh;
  text-align: left;
  position: relative;
  left: -385px;
  top: 250px;;
  padding: 10px;
}

form{
  position: relative;
  top: -250px;
  margin-left: 60px;
  margin-right: 300px;
  left: 0;
  right: 0;
  bottom: 0;
  margin-top: 150px;

}
form.search input {
  
  line-height: 3.25em;
  padding: 0 7em 0 1.5em;
  border: 0;
  outline: 0;
  width: 80%;
  border-radius: 7px;
  font-size: 0.9em;
  font-weight: 300;
}

/*
h1 {
  color: beige;
  text-align: left;
  margin: left 10px;
}

p {
  position: relative;
  top: 10px;
  color: beige;
  text-align: left;
  font-size: 20px;  
  margin-left: 40px;
}
 */

 .bv{
    color: beige;
    text-align: left;
    position: relative;
    margin-top: 0px;
    text-align: left;
    font-size: 20px;  
    margin-left: 40px;
    margin-bottom: px;
}

.bv h1{
  margin-bottom: -10px;
}
.bv p{
  line-height: -15px;
  
}
  

 /* Parte de baixo */

.stats{
  background-color: grey;
  display: flex;
  border-radius: 10px 10px 0px 0px;
  margin-left: 25px;
  margin-right: 25px;

}
.dados_itens{
  width: 100%;
  padding: 10px;
  padding-top: 10px;
  display: flex;
  
}

.dados_itens a{
text-decoration: none;
color: white;
font-size: 18px;
}

.dados_itens img {
  width: 70px;
}

