@charset "UTF-8";

*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
 background-color: black;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  width: 100%;
  display: flex;
  background-color: yellow;
  padding: 10px 5%;
  margin-top: -4em;
  align-items: center;
  position: relative;
  z-index: 1;

}

.logo {
  height: 60px;
  width: 60px;
}
.logo img{
  height: 100%;
  width: 100%;
}


.links  {
  display: flex;
  text-decoration: none;
  list-style: none;
  font-size: 1.3em;
  margin-left: auto;
}

.links a {
  text-decoration: none;
  display: inline-block;
  padding-inline: 10px;
  font-size: 1em;
  color: black;
}

.btn-entrar {
  display: inline-block;
  color:beige;
  background-color: rgb(8, 22, 51);
  font-weight: bold;
  padding: 5px 25px;
  border-radius: 2em ;
  text-align: center;
  margin-right: -15em;

}

.dados-abertos{
  position: relative;
  top: 0;
  left: -59em;
  right:0;
  margin-top: 9em;
}

.dados-abertos a {
  font-size: 1em;
  font-weight: bold;
  text-decoration: none;
  
  color:black;
  text-align: left;
}

.ri-menu-add-line{
  font-size: 25px;
}

.btn-buscar {
  background-color: yellow;
  color: black;
  height: 35px;
  width: 100px;
  position: relative;
  bottom: 0px;
  top: 70px;
  left: -750px;
  border: none;
  border-radius: 2em;
  font-size:large;
  margin-left: 22px;
}

.btn-vp {
  background-color: yellow;
  color: black;
  height: 35px;
  width: 100px;
  position: relative;
  bottom: -25px;
  top: 70;
  left: 200px;
  right: 0;
  
  
  border: none;
  border-radius: 2em;
  font-size:large;
  text-decoration: none;
}

.btn-vp > a{
  text-decoration: none;
  color: black;
}

.principal {
  display: flex;
  height:100%;
  
}

.search-box {
  position: relative;
  top: -150px;
}

.principal  h1 {
  width: 100%;
  color: white;
  text-align: left;
  margin-top: 300px;
  margin-left: 60px;
}
.principal p {
  position: relative;
  font-size: 1.2em;
  width: 100%;
  color: white;
  margin-top: 400px;
  left: -600px;
  
  text-align: left;
}

.principal {
 max-width: 100%;
 width: 100%;
 height: 100vh;
 background-image: url(/img/11.jpg);
 background-position: center;
 background-size:cover;
 background-repeat: no-repeat;
 position: relative;

}

form.search{
  position: relative;
  margin-left: 60px;
  margin-right: 300px;
  top: -100;
  left: 0;
  right: 0;
  bottom: -20;
 

}
form.search input {
  
  line-height: 3.25em;
  padding: 0 7em 0 1.5em;
  border: 0;
  outline: 0;
  width: 80%;
  border-radius: 7px;
  font-size: 0.9em;
  font-weight: 300;
}

 /* Parte de baixo */

.stats{
  background-color: rgb(26, 23, 23);
  display: flex;
  border-radius: 10px 10px 0px 0px;
  margin-left: 25px;
  margin-right: 25px;

}
.dados_itens{
  width: 100%;
  padding: 10px;
  padding-top: 10px;
  display: flex;
  
}

.dados_itens a{
text-decoration: none;
color: white;
font-size: 18px;
}

.dados_itens img {
  width: 70px;
}

